<p>app works!</p>

<app-todo></app-todo>

<hr />

<app-counter></app-counter>

<hr>

<h2>mode DEV</h2>
<p>in the file: environment.ts the DEV mode is set to true, so we can see the result of the different states in the console</p>

<h2>stored file<h2>
<h4>Check out the following files:  </h4>

<br>
  
<p>/core/store/base-store.service.ts</p>

<br><br>
  
<p>/counter/services/store-count.service.ts  inherits from: base-store.service.ts<any></p>
<p>/todo/services/store-todo.service.ts inherits from:  base-store.service.ts<ITodo></p>
  
