<p>app works!</p>

<app-todo></app-todo>

<hr />

<app-counter></app-counter>

<hr />

<h2>mode DEV</h2>
<p>
  in the file: environment.ts the <b>DEV mode</b> is set to <b>true</b>, so we
  can see the result of the different states in the console
</p>

<h2>stored file</h2>
<h4>Check out the following files:</h4>

<p>/core/store/base-store.service.ts</p>

<br />

<p>
  /counter/services/store-count.service.ts <b>inherits from</b> :
  base-store.service.ts any
</p>
<p>
  /todo/services/store-todo.service.ts <b>inherits from</b> :
  base-store.service.ts ITodo
</p>

